@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: #121212;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #1E1E1E;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #282828;

    .cabecalho-menu-esquerda {
        display: flex;
        align-items: center;
        gap: 50px;
        transform: translateX(-30%);

        img {
            width: 70px;
            filter: invert(90%);
        }

        a {
            font-family: "Encode Sans SC", sans-serif;
            color: #EAEAEA;
            font-size: 40px;
        }
    }

    .cabecalho-menu-direita {
        display: flex;
        align-items: center;
        gap: 50px;
        transform: translateX(30%);

        a {
            font-size: 22px;
            font-family: "Rethink Sans", sans-serif;
            color: #EAEAEA;
        }

        a:hover {
            color: #b26be4;
        }
    }

    .menu-hamburguer {
        display: none;
        background: none;
        border: none;
        color: #EAEAEA;
        font-size: 30px;
        cursor: pointer;
    }
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;

    .container-esquerda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        border-right: 2px solid #282828;

        img {
            filter: invert(90%);
            width: 150px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        h1 {
            font-family: "Encode Sans SC", sans-serif;
            color: #EAEAEA;
            font-size: 33px;
            font-weight: 400;
        }
    }

    .container-direita {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #1E1E1E;
        background-size: cover;
        width: 60%;

        .area-de-cadastro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50%;
            width: 60%;
            margin-top: 5%;
            border: 2.5px solid #282828;
            border-radius: 25px;
            gap: 15px;

            h1 {
                font-family: "Encode Sans SC", sans-serif;
                color: #EAEAEA;
                font-size: 40px;
                font-weight: 420;
            }

            input {
                width: 230px;
                height: 35px;
                border: 1px solid #282828;
                border-radius: 5px;
                background-color: #1E1E1E;
                color: #EAEAEA;
                padding: 0 10px;
            }

            button {
                font-family: "Rethink Sans", sans-serif;
                font-size: 20px;
                width: 230px;
                height: 50px;
                background-color: #6A0DAD;
                color: #EAEAEA;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            button:hover {
                background-color: #8A2BE2;
            }

            a {
                font-family: "Rethink Sans", sans-serif;
                color: #EAEAEA;
                font-size: 15px;
                margin-top: 8px;
            }
        }

        .links-inferiores {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px;

            a {
                font-family: "Rethink Sans", sans-serif;
                color: #EAEAEA;
                font-size: 15px;
                margin-top: 10px;
                width: 95px;
                text-align: center;
            }

            a:hover {
                background: #2a2a2a;
                color: #b26be4;
                border-radius: 5px;
            }
        }
    }
}