@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

body {
    background:
        linear-gradient(rgb(45, 45, 95), rgba(15, 15, 65, 0.8)),
        url('../img/pexels-edward-jenner-4252898.jpg');
    background-size: cover;
}

main {
    flex: 0 1 auto;
}

.cabecalho {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: rgba(33, 39, 63);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;

    .cabecalho-menu-esquerda {
        display: flex;
        align-items: center;
        gap: 50px;

        img {
            width: 70px;
            filter: invert(90%);
        }

        a {
            font-family: "Encode Sans SC", sans-serif;
            color: aliceblue;
            font-size: 40px;
        }
    }

    .cabecalho-menu-direita {
        display: flex;
        align-items: center;
        gap: 50px;

        a {
            font-family: "Rethink Sans", sans-serif;
            font-size: 22px;
            color: aliceblue;
        }

        a:hover {
            color: rgb(100, 115, 201)
        }
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 11.7%;
    height: 600px;
    border: 2.5px solid aliceblue;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(15, 21, 78) 0%, rgb(42, 42, 92) 50%, rgb(44, 50, 104) 100%);

    .area-de-cadastro {
        display: flex;
        flex-direction: column;

        h1 {
            font-family: "Encode Sans SC", sans-serif;
            color: aliceblue;
            font-size: 40px;
            font-weight: 420;
            margin-top: 140px;
            position: relative;
            bottom: 60px;
            right: 23px;
        }

        label {
            font-family: "Rethink Sans", sans-serif;
            font-size: 18px;
            color: aliceblue;
            margin-top: 5px;
            margin-bottom: 10px;
            position: relative;
            bottom: 35px;
            right: 22px;
        }

        input {
            width: 230px;
            height: 30px;
            border: 1px solid gray;
            border-radius: 2px;
            position: relative;
            bottom: 35px;
            right: 22px;
        }

        button {
            font-family: "Rethink Sans", sans-serif;
            font-size: 20px;
            margin-top: 10px;
            width: 230px;
            height: 50px;
            border-radius: 7px;
            position: relative;
            bottom: 10px;
            right: 22px;
        }
    }

    img {
        width: 200px;
        height: 200px;
        filter: invert(90%);
        position: relative;
        top: 32%;
    }
}