@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: #121212;

    h1 {
        margin-top: 200px;
        text-align: center;
        font-family: "Encode Sans SC", sans-serif;
        font-weight: 450;
        color: #EAEAEA;
        font-size: 60px;
    }
}

main {
    flex: 0 1 auto;
    padding-top: 100px;
}

.cabecalho {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #1E1E1E;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #282828;

    .cabecalho-menu-esquerda {
        display: flex;
        align-items: center;
        gap: 50px;

        img {
            width: 70px;
            filter: invert(90%);
        }

        a {
            font-family: "Encode Sans SC", sans-serif;
            color: #EAEAEA;
            font-size: 40px;
        }
    }

    .cabecalho-menu-direita {
        display: flex;
        align-items: center;
        gap: 50px;

        a {
            font-family: "Rethink Sans", sans-serif;
            font-size: 22px;
            color: #EAEAEA;
        }

        a:hover {
            color: #6A0DAD;
        }
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    column-gap: 80px;
    row-gap: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    justify-items: center;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #282828;
        border-radius: 8px;
        height: 230px;
        width: 450px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        color: #EAEAEA;
        font-family: "Rethink Sans", sans-serif;
        font-size: 22px;
        font-weight: 600;
        background-color: #1E1E1E;
        box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.2);
    }

    #personagens {
        /* cor: #D89100 - tamanho base: 128px*/
        background-image: url(/img/knight.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 23%;
    }

    #monstros {
        /* cor: #D89100 - tamanho base: 128px*/
        background-image: url(/img/goat.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20%;
    }

    #selvagem {
        /* cor: #D89100 - tamanho base: 128px*/
        background-image: url(/img/horse.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 26%;
    }

    #armas {
        /* cor: #D89100 - tamanho base: 128px*/
        background-image: url(/img/sword.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20%;
    }

    #armaduras {
        /* cor: #D89100 - tamanho base: 128px*/
        background-image: url(/img/armor.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18%;
    }

    #acessorios {
        /* cor: #D89100 - tamanho base: 128px*/
        background-image: url(/img/jewelery.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 19%;
    }

    #construcoes {
        /* cor: #D89100 - tamanho base: 128px*/
        background-image: url(/img/house.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18%;
    }

    #terrenos {
        /* cor: #D89100 - tamanho base: 128px*/
        background-image: url(/img/terrain.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
    }

    #vegetacao {
        /* cor: #D89100 - tamanho base: 128px*/
        background-image: url(/img/tree.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18%;
    }
}