@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: #121212;
}

main {
    flex: 1;
}

.cabecalho {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #1E1E1E;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #282828;

    .cabecalho-menu-esquerda {
        display: flex;
        align-items: center;
        gap: 50px;

        img {
            width: 70px;
            filter: invert(90%);
        }

        a {
            font-family: "Encode Sans SC", sans-serif;
            color: #EAEAEA;
            font-size: 40px;
        }
    }

    .cabecalho-menu-direita {
        display: flex;
        align-items: center;
        gap: 50px;

        a {
            font-size: 22px;
            font-family: "Rethink Sans", sans-serif;
            color: #EAEAEA;
        }

        a:hover {
            color: #6A0DAD;
        }
    }
}

.conteudo-principal {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 14%;
    margin-bottom: 9%;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 32px;
        font-family: "Rethink Sans", sans-serif;
        color: #EAEAEA;
        margin-left: 150px;
        margin-bottom: 10px;
    }

    button {
        background-color: #6A0DAD;
        color: #EAEAEA;
        font-size: 20px;
        font-family: "Rethink Sans", sans-serif;
        height: 50px;
        width: 150px;
        border: none;
        border-radius: 10px;
        margin-left: 150px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #8A2BE2;
    }
}

.imagens-3d {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 150px;

    img {
        width: 490px;
        border: 2px solid #282828;
    }
}

.destaques {
    display: flex;
    justify-content: space-around;
    border-top: 3.5px solid #282828;
    margin-left: 10%;
    margin-right: 10%;

    .destaques-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2.5px solid #282828;
        border-radius: 10px;
        height: 300px;
        width: 450px;
        margin-top: 100px;
        margin-bottom: 100px;

        h1 {
            font-family: "Rethink Sans", sans-serif;
            color: #EAEAEA;
            font-size: 25px;
            margin-bottom: 20px;
        }

        p {
            font-family: "Rethink Sans", sans-serif;
            color: #EAEAEA;
            font-size: 18px;
            text-align: center;
            margin-left: 12px;
            margin-right: 12px;
        }
    }
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: "Encode Sans SC", sans-serif;
    color: #EAEAEA;
    background: #1E1E1E;
    min-height: 100px;
    border-top: 1px solid #282828;
}