@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: #121212;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #1E1E1E;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #282828;

    .cabecalho-menu-esquerda {
        display: flex;
        align-items: center;
        gap: 50px;

        img {
            width: 70px;
            filter: invert(90%);
        }

        a {
            font-family: "Encode Sans SC", sans-serif;
            color: #EAEAEA;
            font-size: 40px;
        }
    }

    .cabecalho-menu-direita {
        display: flex;
        align-items: center;
        gap: 50px;

        a {
            font-size: 22px;
            font-family: "Rethink Sans", sans-serif;
            color: #EAEAEA;
        }

        a:hover {
            color: #b26be4;
        }
    }
}

main {
    flex: 1;

    .hero {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        margin-top: 14%;
        margin-bottom: 9%;

        .textos-esquerda {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            h1 {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 32px;
                font-family: "Rethink Sans", sans-serif;
                color: #EAEAEA;
                margin-left: 150px;
                margin-bottom: 10px;
            }

            button {
                background-color: #6A0DAD;
                color: #EAEAEA;
                font-size: 20px;
                font-family: "Rethink Sans", sans-serif;
                height: 50px;
                width: 150px;
                border: none;
                border-radius: 10px;
                margin-left: 150px;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            button:hover {
                background-color: #8A2BE2;
            }
        }
    }

    .imagens-3d {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 150px;

        img {
            width: 490px;
            border: 2px solid #282828;
        }
    }

    .destaques {
        display: flex;
        justify-content: space-around;
        border-top: 3.5px solid #282828;
        margin-left: 10%;
        margin-right: 10%;

        .destaques-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2.5px solid #282828;
            border-radius: 10px;
            height: 300px;
            width: 450px;
            margin-top: 100px;
            margin-bottom: 100px;

            h1 {
                font-family: "Rethink Sans", sans-serif;
                color: #EAEAEA;
                font-size: 25px;
                margin-bottom: 20px;
            }

            p {
                font-family: "Rethink Sans", sans-serif;
                color: #EAEAEA;
                font-size: 18px;
                text-align: center;
                margin-left: 12px;
                margin-right: 12px;
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: "Encode Sans SC", sans-serif;
    color: #EAEAEA;
    background: #1E1E1E;
    min-height: 100px;
    border-top: 1px solid #282828;
}

.conteudo-responsivo {
    display: none;
}

/* Resolução 1600x900px */

@media (max-width: 1600px) {
    header {
        .cabecalho-menu-esquerda {
            img {
                width: 55px;
            }

            a {
                font-family: "Encode Sans SC", sans-serif;
                color: #EAEAEA;
                font-size: 33px;
            }
        }

        .cabecalho-menu-direita {
            a {
                font-size: 21px;
                font-family: "Rethink Sans", sans-serif;
                color: #EAEAEA;
            }
        }
    }

    main {
        .hero {
            .textos-esquerda {
                h1 {
                    font-size: 25px;
                }

                button {
                    font-size: 17px;
                    height: 47px;
                    width: 135px;
                }
            }
        }

        .imagens-3d {
            img {
                width: 420px;
            }
        }

        .destaques {
            .destaques-item {
                height: 250px;
                width: 400px;

                h1 {
                    font-size: 20px;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }

    footer {
        min-height: 80px;
        font-size: 22px;
    }

    .conteudo-responsivo {
        display: none;
    }
}

/* Resolução 1280x720px */

@media (max-width: 1280px) {
    header {
        .cabecalho-menu-esquerda {
            img {
                width: 45px;
            }

            a {
                font-family: "Encode Sans SC", sans-serif;
                color: #EAEAEA;
                font-size: 27px;
            }
        }

        .cabecalho-menu-direita {
            a {
                font-size: 18px;
                font-family: "Rethink Sans", sans-serif;
                color: #EAEAEA;
            }
        }
    }

    main {
        .hero {
            .textos-esquerda {
                h1 {
                    font-size: 20px;
                }

                button {
                    font-size: 15px;
                    height: 38px;
                    width: 105px;
                }
            }
        }

        .imagens-3d {
            img {
                width: 330px;
            }
        }

        .destaques {
            .destaques-item {
                height: 210px;
                width: 320px;

                h1 {
                    font-size: 16px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }

    footer {
        min-height: 70px;
        font-size: 17px;
    }

    .conteudo-responsivo {
        display: none;
    }
}

/* Resolução Mobile */

@media (max-width: 450px) {
    body {
        background-image: url(../img/pexels-edward-jenner-4252664.jpg);
        background-color: #121212e8;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-blend-mode: multiply;
        min-height: 100vh;
    }

    header {
        .cabecalho-menu-esquerda {
            img {
                display: none;
            }

            a {
                font-size: 1.5rem;
            }
        }

        .cabecalho-menu-direita {
            display: none;
        }
    }

    main {

        .hero {
            display: none;
        }

        .destaques {
            display: none;
        }

        .conteudo-responsivo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1;
            width: 100%;
            margin-top: 37%;

            img {
                width: 40%;
            }

            h1 {
                font-family: "Rethink Sans", sans-serif;
                color: #EAEAEA;
                font-size: 1.2rem;
                margin-top: 20%;
                margin-bottom: 20%;
            }

            button {
                background-color: #6A0DAD;
                color: #EAEAEA;
                font-size: 15px;
                font-family: "Rethink Sans", sans-serif;
                height: 45px;
                width: 48%;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            button:hover {
                background-color: #8A2BE2;
            }
        }

        footer {
            height: auto;
            min-height: 40px;
            position: static;
            font-size: 14px;
            background: transparent;
        }
    }
}