@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(45deg, rgb(9, 14, 58) 0%, rgba(49, 49, 85, 1) 62%, rgb(52, 118, 172) 100%);
}

main {
    flex: 1;
}

.cabecalho {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: rgba(33, 39, 63);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.cabecalho-menu-esquerda {
    display: flex;
    align-items: center;
    gap: 50px;
}

.cabecalho-menu-esquerda img {
    width: 70px;
    filter: invert(90%);
}

.cabecalho-menu-esquerda a {
    font-family: "Encode Sans SC", sans-serif;
    color: aliceblue;
    font-size: 40px;
}

.cabecalho-menu-direita {
    display: flex;
    align-items: center;
    gap: 50px;
}

.cabecalho-menu-direita a {
    font-size: 22px;
    font-family: "Rethink Sans", sans-serif;
    color: aliceblue;
}

.cabecalho-menu-direita a:hover {
    color: rgb(100, 115, 201)
}

.conteudo-principal {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin-top: 14%;
    margin-bottom: 9%;
}

.conteudo-principal section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.conteudo-principal h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-family: "Rethink Sans", sans-serif;
    color: aliceblue;
    margin-left: 150px;
    margin-bottom: 10px;
}

.conteudo-principal button {
    background-color: rgba(60, 60, 121, 0.445);
    color: aliceblue;
    font-size: 20px;
    font-family: "Rethink Sans", sans-serif;
    height: 50px;
    width: 150px;
    border: 1.5px solid whitesmoke;
    border-radius: 10px;
    margin-left: 150px;
    cursor: pointer;
}

.conteudo-principal button:hover {
    background-color: rgba(110, 110, 172, 0.445);
}

.imagens-3d {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 150px;
}

.imagens-3d img {
    width: 490px;
    border: 1px solid grey;
}

.destaques {
    display: flex;
    justify-content: space-around;
    border-top: 3.5px solid white;
    margin-left: 10%;
    margin-right: 10%;
}

.destaques-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2.5px solid white;
    border-radius: 10px;
    height: 300px;
    width: 450px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.destaques-item h1 {
    font-family: "Rethink Sans", sans-serif;
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 20px;
}

.destaques-item p {
    font-family: "Rethink Sans", sans-serif;
    color: aliceblue;
    font-size: 18px;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: "Encode Sans SC", sans-serif;
    color: aliceblue;
    background: rgba(33, 39, 63);
    min-height: 100px;
    border-top: 1px solid white;
}