@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body{
    background:
    linear-gradient(rgba(48, 48, 105, 1), rgba(5, 5, 27, 0.9)),
    url('../img/pexels-edward-jenner-4252898.jpg');
    background-size: cover;
}

main{
    flex: 0 1 auto;
}

.cabecalho{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: rgba(33, 39, 63);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white; 
}


.cabecalho-menu-esquerda{
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo{
    width: 70px;
    filter: invert(90%);
}

.nome-site{
    font-family: "Encode Sans SC", sans-serif;
    color: aliceblue;
    font-size: 40px;
}

.cabecalho-menu-direita{
    display: flex;
    align-items: center;
    gap: 50px;
}

.cabecalho-item{
    font-family: "Rethink Sans", sans-serif;
    font-size: 22px;    
    color: aliceblue;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 12%;
    height: 500px;
    padding-top: 140px;
    padding-bottom: 140px;
    border: 3px solid aliceblue;
    border-radius: 10px;
}

.area-de-login{
    display: flex;
    flex-direction: column;
}

.email{
    width: 230px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 4px;
}

.senha{
    width: 230px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 4px;
}

.label-email{
    font-family: "Rethink Sans", sans-serif;
    font-size: 18px;
    color: aliceblue;
    margin-bottom: 5px;
    margin-left: 5px;
}

.label-senha{
    font-family: "Rethink Sans", sans-serif;
    font-size: 18px;
    color: aliceblue;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.botao{
    font-family: "Rethink Sans", sans-serif;
    font-size: 20px;
    margin-top: 35px;
    width: 230px;
    height: 40px;
    border-radius: 7px;
}

.link-esqueceu-senha{
    font-family: "Rethink Sans", sans-serif;
    color: aliceblue;
    font-size: 15px;
    margin-top: 8px;
}

.usuario-img{
    width: 200px;
    height: 200px;
    filter: invert(90%);
}

.links-inferiores{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 25.2%;
    gap: 10px;
}

.links-inferiores a{
    font-family: "Rethink Sans", sans-serif;
    color: aliceblue;
    font-size: 15px;
    margin-top: 10px;
    width: 95px;
    text-align: center;
}

.links-inferiores a:hover{
    background: rgba(247, 247, 247, 0.651);
    color: black;
    border-radius: 5px;
}
